---
- name: 'Set an authorized key'
  authorized_key:
    user: pi
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: 'Run Apt proxy task'
  import_tasks: apt-proxy.yaml

- name: 'Run profile task'
  import_tasks: profile.yaml

- name: 'Install some basics'
  apt:
    pkg:
      - vim
    update_cache: yes

- name: 'Update root certificates'
  apt:
    name: ca-certificates
    state: latest
  notify: Update CA Store
