---
- name: restart wireguard wg0
  service:
    name: wg-quick@wg0.service
    state: restarted

- name: Generate client QR codes
  command: "qrencode -t ansiutf8 -r /etc/wireguard/clients/{{ item.name }}.conf -o /etc/wireguard/clients/{{ item.name }}.png"
  loop: "{{ lookup('list', vault_wg_clients) }}"
  no_log: true
