---
- name: Create client destination
  file:
    path: /etc/wireguard/clients
    state: directory
    mode: '0700'

- name: Generate client configurations
  template:
    src: client.conf.j2
    dest: "/etc/wireguard/clients/{{ item.name }}.conf"
  vars:
    vpn_host: "{{ vault_wg_hosts[inventory_hostname].host }}"
    vpn_dns: "{{ vault_wg_hosts[inventory_hostname].dns }}"
    public_key: "{{ vault_wg_hosts.public_key }}"
    client_address: "{{ item.host_ips[inventory_hostname] }}"
    client_private_key: "{{ item.private_key }}"
    client_preshared_key: "{{ item.preshared_key }}"
  no_log: true

  loop: "{{ lookup('list', vault_wg_clients) }}"
  notify: Generate client QR codes
