---
# https://engineerworkshop.com/2020/02/20/how-to-set-up-wireguard-on-a-raspberry-pi/
# https://wiki.archlinux.org/index.php/WireGuard#Key_generation

- name: Limit use of the unstable branch
  copy:
    src: limit-unstable
    dest: /etc/apt/preferences.d/limit-unstable
    mode: 0755

- name: Install IPTables for Wireguard
  apt:
    pkg:
      - iptables
    state: present
    update_cache: yes

- name: Install WireGuard and QR Encode
  apt:
    pkg:
      - wireguard
      - qrencode
    state: present
    update_cache: yes

- name: Enable WireGuard kernel module
  modprobe:
    name: wireguard
    state: present

- name: Set IP forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: yes
    state: present
    reload: yes
    sysctl_file: /etc/sysctl.d/99-sysctl.conf

# https://github.com/pirate/wireguard-docs/blob/master/example-simple-client-to-server/server/setup.sh
- name: Set IP proxy_arp
  sysctl:
    name: net.ipv4.conf.all.proxy_arp
    value: '1'
    sysctl_set: yes
    state: present
    reload: yes
    sysctl_file: /etc/sysctl.d/99-sysctl.conf

- name: Set wg0 configuration
  template:
    src: wg0.conf.j2
    dest: /etc/wireguard/wg0.conf
  no_log: true
  notify: restart wireguard wg0

- name: Ensure Wireguard service started and enabled
  service:
    name: wg-quick@wg0.service
    state: started
    enabled: yes

- name: Generate client configs
  import_tasks: generate-client-configs.yaml
